<div class="post-date small">{{ site.data.settings.sharing_button_prompt }}</div>
<div>
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.github.url }}{{ page.url }}" target="_blank"><i class="fab fa-2x fa-twitter-square"></i></i></a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i></a>
  <a href="https://plus.google.com/share?url={{ site.github.url }}{{ page.url }}" target="_blank"><i class="fab fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
</div>
</div>